.cover__subtitle {
  color: #fff;
  max-width: 360px;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  margin: 32px 0 0;
}

@media (max-width: 768px){
  .cover__subtitle {
   font-size: 18px; 
   box-sizing: border-box;
   padding: 0 2px;    
  }  
}

@media (min-width: 320px) and (max-width:550px){
  .cover__subtitle{
   font-size: 16px; 
   padding: 0 2px;
   box-sizing: border-box;
 }
}

@media (max-width: 320px){
  .cover__subtitle {
   font-size: 14px; 
   box-sizing: border-box;
   padding: 0 2px;    
  }  
}



