.place__text{
  width: 100%;
  max-width: 484px;
}

@media (max-width: 640px){
  .place__text{
    max-width: 100%;
  }
}

@media (max-width: 320px){
  .place__text{
   margin: 0 16px;
   width: auto;
   max-width: 100%;
  }
}
