.footer__link-item {
	list-style-type: none;
    
}

@media (max-width: 320px){
        .footer__link-item{
		  margin-bottom: 32px;		  
        }
}	

@media (max-width: 640px){
	.footer__link-item{
		  margin-bottom: 32px;		  
    }
}
