.lead__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  margin: 0 auto;
  max-width: 720px;
}

@media (max-width: 768px) {
  .lead__title {
  max-width: 720px;
  font-size: calc(40px + 56 * (100vw - 320px) / 448);/*делаем плавное изменение шрифта до ширины 320*/
 }
}

@media (max-width: 320px) {
  .lead__title {
   max-width: 288px;
   font-size: 40px;
   line-height: 1.1;
 }
}