.cover__title {
	color: #fff;
	font-family: Inter;
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 1.05;
	text-align: center;
	max-width: 560px;
	margin: 0;
}

@media (max-width: 768px){
	.cover__title{
		font-size: calc(32px + (72 - 32) * ( (100vw - 320px) / ( 768 - 320) ));/*делаем плавное изменение шрифта до ширины 320*/
		max-width: calc(288px + (560 - 288) * (100vw - 320px)/(768 - 320));/*плавное изменение размеров ширины заголовка*/
		padding: 0 25px;
		box-sizing: border-box;
	}
}
