.cover__title {
  color: #fff;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  text-align: center;
  max-width: 560px;
  margin: 0;
}

@media (max-width: 768px){
  .cover__title{
   font-size: 72px;  
   padding: 0 25px;
   box-sizing: border-box;
 }
}

@media (min-width: 320px) and (max-width:550px){
  .cover__title{
   font-size: 35px; 
   padding: 0 25px;
   box-sizing: border-box;
 }
}

@media (max-width: 320px){
  .cover__title{
   font-size: 32px; 
   max-width: 288px;
   padding: 0 25px;
   box-sizing: border-box;
 }
}